<ion-modal-view>
  <ion-header-bar> 
    <h1 class="title">Edit {{person.name}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeEditPerson()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="card">
        <ion-item>
                        <form>
    <h2 class="item-text-wrap" style="font-size:1.3em;font-weight:bold;">{{person.name}}</h2>
    unpaid earnings: <strong style="color:red">${{personEarningsUnpaid}}</strong> <br>
        <h2>Pay {{person.name}}?</h2>
        <div class="list item-text-wrap">
              {{person.name}} has earned ${{personEarningsUnpaid}}.
               How much should go toward spending money (cash)?
                <input type="text" id="addtospendingmoney" ng-keyup="setTotalPercentage()" ng-model="addToSpendingMoney" placeholder="enter amount for spending money">
               How much should go toward savings?
                <input type="text" id="addtosavings" ng-keyup="setTotalPercentage()" ng-model="addToSavings" placeholder="enter amount for savings">

                <h2>Spending Money: {{addToSpendingMoney/personEarningsUnpaid*100}}%</h2>
                <h2>Savings: {{addToSavings/personEarningsUnpaid*100}}%</h2>
                <h2>Total: <strong>{{totalPercentage}}%</strong> </h2>
        </div>           
          <button ng-disabled="totalPercentage !== 100" class="button button-block button-positive" ng-click="payPerson()">Pay  {{person.name}}</button>
          <div style="color:gray;text-align:center;text-size:.8em" class="item-text-wrap">(total of Spending Money and Savings must be 100%)</div>
        </label>
      </div>
    </form>
        </ion-item>
    </div>
  </ion-content>
</ion-modal-view>
