<ion-view cache-view="false" view-title="About {{currentMember.name}}">
  <ion-content>
    <h2>{{AppService.currentMember.name}}</h2>
    <div class="card">
<!--        {{currentMember.picture}}-->
        <h5>Incomplete Chores: {{currentStats.incompleteChores}} </h5>
        <h5>All-time chore total: {{currentStats.alltimechores}} </h5>
        <h5>Current Balance: TODO </h5>
        <h5>Current owed: TODO </h5>
        <h5>All-time earnings: ${{currentStats.alltimeearnings}} </h5>
        <h5>Number of goals: {{service.currentgoals}} </h5>
    </div>
  </ion-content>
</ion-view>