<ion-view cache-view="false" view-title="About {{currentMember.name}}">
  <ion-content style="background-image:url('img/background.png');background-position:center;">
    <h2>{{AppService.currentMember.name}}</h2>
    <div class="card">
        <div class="item">
            <!--        {{currentMember.picture}}-->
        <h3>Incomplete Chores: {{currentStats.incompleteChores}} </h3>
        <h3>All-time chore total: {{currentStats.alltimechores}} </h3>
        <h3>Current Balance: TODO </h3>
        <h3>Current owed: TODO </h3>
        <h3>All-time earnings: ${{currentStats.alltimeearnings}} </h3>
        <h3>Number of goals: {{service.currentgoals}} </h3>
        </div>
    </div>
  </ion-content>
</ion-view>