<ion-view cache-view="false" view-title="{{currentMember.name}}'s Chores">
   <ion-content>
    <div style="text-align:center"><span style="color:lightgray">pull to refresh</span></div>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
    <h2>Incomplete Chores</h2>
    <ion-list>
        <ion-item ng-repeat="chore in service.mychores"
               ui-sref="app.choredetails({id:chore._id})" ng-if="chore.complete !== true">
            {{chore.name}} <br>
            You can earn: ${{chore.value}}
            <h4 ng-if="chore.assignedby !== currentMember.name">Assigned by: {{chore.assignedby}}</h4>
            <h4 ng-if="chore.assignedby === currentMember.name">You chose this chore from the Chore Store</h4>
        </ion-item>
    </ion-list>
    <ion-list>
       <h2>Completed chores</h2>
        <ion-item ng-repeat="chore in service.mychores"
               ui-sref="app.choredetails({id:chore._id})" ng-if="chore.complete == true" class="balanced">
            {{chore.name}} <br>
            You've earnt: ${{chore.value}}!
            <h4 ng-if="chore.assignedby !== currentMember.name">Assigned by: {{chore.assignedby}}</h4>
            <h4 ng-if="chore.assignedby === currentMember.name">You chose this chore from the Chore Store</h4>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>