/* Empty. Add your own CSS if you like */
body {
    font-size: 1.2em;
}
.pane {
    background-image: 'img/background.png';
}

ion-content {
    background-image: 'img/background.png';
}

.card {
    border-radius: 8px;
}

.beige {
    background-color: beige;
}


.ball-center-content {
    display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-flex-direction: column;
    margin-top:5px;
}

.tm-person-block {
    width:           350px;
    max-width:       90%;
    font-weight:     bold;
    margin:auto;
/*    float:           left;*/
    padding:         25px;
    text-align:      center;
}

.category-block {
    font-size: .8em;
    padding: 4px 8px 4px 8px;
    background-color: deepskyblue;
    margin: 2px;
    color: white;
    border-radius: 3px;
}


<style>
  .with-bg-size
  {
    background-image: url('../img/mom.jpg') !important;
    width: 200px;
    height: 100px;
    background-position: center;

    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
  }
</style>
.flip .normal{
  -webkit-perspective: 800;
/*
   width: 100% !important;
   height: 150px !important;
*/
    position: relative;
    margin: 50px auto;
}
.flip .flipcard.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .flipcard {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .flipcard .flipface {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
/*    font-family: Georgia;*/
/*    font-size: 3em;*/
    text-align: center;
/*    line-height: 200px;*/
}
.flip .flipcard .flipfront {
  position: absolute;
  z-index: 1;
    background: white;
    color: black;
    cursor: pointer;
    text-align: center;
/*    line-height: 200px;*/
}
.flip .flipcard .flipback {
  -webkit-transform: rotatey(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}